@media (min-width: 997px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    height: 100%;
    position: sticky;
    top: 0;
    padding-top: var(--ifm-navbar-height);
    width: var(--doc-sidebar-width);
    transition: opacity 50ms ease;
  }

  .sidebar-with-hideable-navbar {
    padding-top: 0;
  }

  .sidebar-hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .sidebar-logo {
    display: flex !important;
    align-items: center;
    margin: 0 var(--ifm-navbar-padding-horizontal);
    min-height: var(--ifm-navbar-height);
    max-height: var(--ifm-navbar-height);
    color: inherit !important;
    text-decoration: none !important;

    img {
      margin-right: 0.5rem;
      height: 2rem;
    }
  }
}

.sidebar-logo {
  display: none;
}
.learning-path {
  padding: 0.8rem 1rem 0.5rem 2.5rem;
  margin-bottom: -1.3rem;
  color: var(--global-colors-text-primary);
  text-decoration: none;
  position: relative;
  background-color: var(--global-colors-background);
  z-index: 1;
  &:hover {
    text-decoration: none;
  }
}

.doc-search {
  margin: 0.9375rem 0.9375rem 0;

  .navbar__search {
    margin: 0;
    flex: 1;

    >span {
      display: block !important;

      >span:last-child {
        left: 0 !important;
        right: auto !important;
      }
    }

    &-input {
      width: 100%;
      border-radius: 4px;
      height: 2.25rem;
    }

    >div:last-child {
      display: none;
    }
  }


  // .navbar__item {
  //   display: block;
  //   padding: 0 0.625rem;
  //   margin-left: 0.625rem;

  //   .navbar__link {
  //     padding: 0;
  //   }
  // }
}