.run-anywhere {
    background: #f7f9fe;
}
.download {
    a {
        transition: all 0.3s;

        &:hover {
            text-decoration: underline;
        }
    }

    .page-column {
        padding: 1.875rem 0;
    }

    .maven {
        .page-column-title {
            font-size: 1.5rem;
        }
    }
    .downlaod-document {
        color: var(--ifm-color-primary);
        cursor: pointer;
        padding-left: 0.4rem;
        display: flex;
        align-items: center;
    }

    &-box {
        padding: 3.125rem;
        border-radius: 8px;
        background-color: var(--global-colors-white);
        border: #dfe5f0 solid 1px;

        .download-type {
            display: flex;
            align-items: center;

            & + .download-type {
                margin-top: 1rem;
            }

            &.way {
                align-items: start;
            }

            label {
                font-size: 18px;
                color: var(--global-colors-text-primary);
                flex-shrink: 0;
                width: 9.0625rem;
                text-align: left;
            }

            .tabs-radio {
                flex: 1;
                display: flex;
                align-items: center;
                border-radius: 2px;

                .radio {
                    border: var(--ifm-color-primary) solid 1px;
                    flex: 1;
                    text-align: center;
                    font-size: var(--global-font-size-medium);
                    color: var(--global-colors-text-primary);
                    min-height: 3.125rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &.disabled {
                        background-color: var(--global-colors-background);
                        cursor: not-allowed;
                        border-color: var(--global-colors-split);
                        color: var(--global-colors-text);
                    }

                    &.checked {
                        background-color: var(--ifm-color-primary);
                        color: var(--global-colors-white);
                    }

                    & + .radio {
                        margin-left: -1px;
                    }
                    & + .disabled {
                        border-left: none;
                        margin-left: 0;
                    }

                    .inner {
                        margin: 0.3125rem;
                        width: calc(100% - 0.625rem);
                        color: var(--ifm-color-primary);

                        & + .inner {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
        .download-way {
            display: none;
            &.show {
                display: block;
                width: 100%;
            }
            &.all-in-one {
                .theme-code-block {
                    font-size: 0.875rem;
                    padding-left: 2rem;
                    position: relative;
                    &:before {
                        content: '$';
                        position: absolute;
                        left: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 1rem;
                    }
                }
            }
        }

        .tips {
            margin-top: 1rem;
            .title {
                color: #556986;
                font-weight: 600;
                font-size: var(--global-font-size-smaller);
            }
            .notice-text {
                font-size: var(--global-font-size-smaller);
                font-weight: 600;
                color: #556986;
                a {
                    margin: 0 0.3125rem;
                }
            }
            .notice-dir {
                display: flex;
                // margin-bottom: 0.5rem;
                .notice-dir-name {
                    min-width: 10rem;
                    padding-left: 3.5rem;
                    &.md {
                        position: relative;
                        &:before {
                            position: absolute;
                            left: 0.8rem;
                            content: '';
                            width: 0;
                            height: 100%;
                            border-left: 1.5px solid #556986;
                        }
                        &:after {
                            position: absolute;
                            left: 0.8rem;
                            top: 50%;
                            content: '';
                            width: 2rem;
                            height: 0;
                            border-top: 1.5px solid #556986;
                        }
                    }
                    &.end {
                        position: relative;
                        &:before {
                            position: absolute;
                            left: 0.8rem;
                            content: '';
                            width: 0;
                            height: 50%;
                            border-left: 1.5px solid #556986;
                        }
                        &:after {
                            position: absolute;
                            left: 0.8rem;
                            top: 50%;
                            content: '';
                            width: 2rem;
                            height: 0;
                            border-top: 1.5px solid #556986;
                        }
                    }
                }
                .notice-dir-val {
                    margin-left: 1rem;
                }
            }
            ul {
                margin: 0;
                padding: 0;
                padding-left: 0.9375rem;
                li {
                    color: #556986;
                    font-size: var(--global-font-size-smaller);
                    line-height: 1.5;
                    font-weight: 600;
                    margin-top: 0.3125rem;

                    code {
                        border-radius: 0.125rem;
                        border-width: 1px;
                        padding: 0.125rem 0.3125rem;
                        margin: 0 0.3125rem;
                    }
                    a {
                        margin: 0 0.3125rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 996px) {
        &-box {
            padding: 0;
            box-shadow: none;

            .download-type {
                flex-direction: column;
                align-items: flex-start;

                label {
                    width: 100%;
                }

                .tabs-radio {
                    width: 100%;
                }
            }

            .intr {
                margin-left: 0;
            }

            .tips {
                margin-left: 0;
            }
        }
    }

    .table-content {
        .content {
            overflow: auto;
        }

        table {
            width: 100%;
            display: table;
            margin-bottom: 0;

            thead {
                tr {
                    background-color: #f7faff;
                    border-bottom: none;
                    border-top: none;

                    th {
                        font-size: var(--global-font-size-default);
                        color: var(--global-colors-text-primary);
                        font-weight: 700;
                        border-color: #dbe4f3;
                        line-height: 1.9;
                        white-space: nowrap;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border-color: #dbe4f3;
                        font-size: var(--global-font-size-medium);
                        white-space: nowrap;

                        a + a {
                            margin-left: 1.25rem;
                        }
                    }
                }
            }
        }

        .more {
            margin-top: 2.5rem;

            @media screen and (max-width: 996px) {
                margin-top: 1.5rem;
            }
        }
    }

    .verify {
        font-size: var(--global-font-size-smaller);

        .page-column {
            line-height: 1.8;
        }
    }

    .all-download {
        display: flex;
        padding: 48px;
        justify-content: space-between;
        align-items: flex-start;
        gap: 48px;
        border-radius: 8px;
        border: 1px solid var(---N5, #dfe5f0);

        .all-download-intro {
            display: flex;
            width: 540px;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            .all-download-intro-text {
                color: var(---N1, #1d1d1d);
                font-size: 16px;
                font-style: normal;
                line-height: 26px; /* 162.5% */
                text-align: left;
            }
        }
    }

    .all-download-card {
        // display: inline-flex;
        width: 436px;
        // flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .run-anywhere-card {
        &:hover {
            text-decoration: none;
        }
    }
    .all-download-note {
        color: var(---N3, #8592a6);
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
        text-align: left;
    }
}
