.download {
    margin: 3rem 0;

    a {
        transition: all 0.3s;

        &:hover {
            text-decoration: underline;
        }
    }

    .page-column {
        padding: 1.875rem 0;
    }

    .maven {
        .page-column-title {
            font-size: 1.5rem;
        }
    }

    &-box {
        padding: 3.125rem;
        box-shadow: 10px 12px 38px rgba(33, 39, 116, 0.07);
        border-radius: 4px;
        background-color: var(--global-colors-white);

        .download-type {
            display: flex;
            align-items: center;

            & + .download-type {
                margin-top: 1rem;
            }

            label {
                font-size: var(--global-font-size-default);
                font-weight: 600;
                color: var(--global-colors-text-primary);
                margin-right: 2.125rem;
                flex-shrink: 0;
                width: 9.0625rem;
            }

            .tabs-radio {
                flex: 1;
                display: flex;
                align-items: center;
                border-radius: 2px;

                .radio {
                    border: var(--ifm-color-primary) solid 1px;
                    flex: 1;
                    text-align: center;
                    font-size: var(--global-font-size-medium);
                    color: var(--global-colors-text-primary);
                    min-height: 3.125rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &.disabled {
                        background-color: var(--global-colors-background);
                        cursor: not-allowed;
                        border-color: var(--global-colors-split);
                        color: var(--global-colors-text);
                    }

                    &.checked {
                        background-color: var(--ifm-color-primary);
                        color: var(--global-colors-white);
                    }

                    & + .radio {
                        margin-left: -1px;
                    }
                    & + .disabled {
                        border-left: none;
                        margin-left: 0;
                    }

                    .inner {
                        margin: 0.3125rem;
                        background-color: #f7faff;
                        width: calc(100% - 0.625rem);
                        color: var(--ifm-color-primary);

                        & + .inner {
                            margin-top: 0;
                        }
                    }
                }
            }
        }

        .tips {
            margin-left: 11.1875rem;
            margin-top: 1rem;
            .title {
                color: #556986;
                font-weight: 600;
                font-size: var(--global-font-size-smaller);
            }
            ul {
                margin: 0;
                padding: 0;
                padding-left: 0.9375rem;
                li {
                    color: #556986;
                    font-size: var(--global-font-size-smaller);
                    line-height: 1.5;
                    font-weight: 600;
                    margin-top: 0.3125rem;

                    code {
                        border-radius: 0.125rem;
                        border-width: 1px;
                        padding: 0.125rem 0.3125rem;
                        margin: 0 0.3125rem;
                    }
                    a {
                        margin: 0 0.3125rem;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 996px) {
        &-box {
            padding: 0;
            box-shadow: none;

            .download-type {
                flex-direction: column;
                align-items: flex-start;

                label {
                    width: 100%;
                }

                .tabs-radio {
                    width: 100%;
                }
            }

            .intr {
                margin-left: 0;
            }

            .tips {
                margin-left: 0;
            }
        }
    }

    .table-content {
        .content {
            overflow: auto;
        }

        table {
            width: 100%;
            display: table;
            margin-bottom: 0;

            thead {
                tr {
                    background-color: #f7faff;
                    border-bottom: none;
                    border-top: none;

                    th {
                        font-size: var(--global-font-size-default);
                        color: var(--global-colors-text-primary);
                        font-weight: 700;
                        border-color: #dbe4f3;
                        line-height: 1.9;
                        white-space: nowrap;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        border-color: #dbe4f3;
                        font-size: var(--global-font-size-medium);
                        white-space: nowrap;

                        a + a {
                            margin-left: 1.25rem;
                        }
                    }
                }
            }
        }

        .more {
            margin-top: 2.5rem;

            @media screen and (max-width: 996px) {
                margin-top: 1.5rem;
            }
        }
    }

    .verify {
        font-size: var(--global-font-size-smaller);

        .page-column {
            line-height: 1.8;
        }
    }
}
