.blog-list-wrap {
    display: flex;
}

.blog-list-nav {
    z-index: 1;
    font-size: 0.9rem;
    flex-shrink: 0;
    margin-top: 2rem;

    .category-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0.625rem 1rem 0 1rem;
        justify-content: center;
        margin-bottom: 0;
        position: sticky;
        top: calc(var(--global-header-height) + 2rem);
        max-height: calc(100vh - var(--global-header-height) - 2rem);
        overflow-y: auto;

        .category-item {
            transition: all 0.2s;
            cursor: pointer;
            white-space: nowrap;
            color: var(--global-colors-text-primary);
            width: 100%;
            padding: 0 1.5rem;
            height: 2.375rem;
            line-height: 2.375rem;
            font-size: 0.875rem;
            position: relative;
            margin-bottom: 1rem;

            &:hover {
                color: var(--ifm-color-primary);
                // background-color: var(--ifm-color-primary);
                border-radius: 4px;
            }

            &.active {
                color: #ffffff;
                background-color: var(--ifm-color-primary);
                border-radius: 4px;
            }
        }
    }
}

.blot-list {
    padding: 2rem;
}

.blog-list-pagination {
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem 0;

    .pagination-btn {
        font-size: 0.9rem;
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2rem;
        padding: 0.5rem 2rem;
        background-color: #ffffff;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
            background-color: var(--ifm-color-primary);
            color: #ffffff;
        }
    }
}


@media (max-width: 996px) {
    .blog-list-nav {
        display: flex;
        overflow: scroll;
        justify-content: flex-start;
        top: var(--global-header-height);
        width: 100%;
        max-width: 100%;
        margin-top: 1rem;

        .category-list {
            padding: 1rem;
            width: 100%;
            flex-direction: row;
            justify-content: flex-start;

            .category-item {
                margin-right: 0.9rem;
                font-size: 1.2rem;
                width: auto;
                height: 2rem;
                line-height: 2rem;
                padding: 0 1rem;
                margin-bottom: 0;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .blot-list {
        padding: 1rem;
    }
}

@media (max-width: 576px) {
    .blog-list-nav {
        justify-content: flex-start;
    }
}