.theme-doc-breadcrumbs {
    margin-bottom: 1.875rem !important;

    @media (max-width: 996px) {
        margin-bottom: 1.1rem !important;
    }

    .breadcrumbs {
        display: flex;
        &__item {
            display: flex;
            align-items: center;
            position: relative;
            &:first-child {
                &:before {
                    content: '';
                    display: block;
                    width: 2rem;
                    height: 2rem;
                    position: absolute;
                    z-index: 1;
                }
                svg {
                    color: #4c576c;
                }
            }

            .breadcrumbs__link {
                background: transparent;
                padding-left: 0;
                padding-right: 0;

                @media (max-width: 996px) {
                    display: inline-flex;
                    align-items: center;
                    padding: 0;
                    vertical-align: middle;

                    > svg {
                        top: -1px;
                    }
                }
            }

            @media (max-width: 996px) {
                &:not(:last-child) {
                    &::after {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
