.markdown {
    color: #4c576c;
    padding-left: 1rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #1d1d1d;
        margin-bottom: 0.3125rem;
        font-weight: 500;
    }

    h1,
    h1:first-child {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        margin-top: 0;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1.25rem;
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid #dfe5f0;
    }

    h3 {
        font-size: 1rem;
        margin-bottom: 1.25rem;
        margin-top: 1rem;
    }
    p {
        line-height: 1.875;
        code {
            border-radius: 4px;
            background-color: #edf2fa;
            border: none;
            padding: 3px 4px;
            margin: 0 8px;
            font-size: 14px;
        }
        img {
        }
    }

    pre {
        code {
            padding: 0.725rem 1.25rem;
            background-color: #262a37;
            line-height: 1.875;
        }
    }

    table thead tr {
        background-color: #f7f9fe;
    }

    table thead th {
        background-color: #f7f9fe;
        color: #1d1d1d;
        font-size: 1rem;
    }

    table tr {
        border-bottom: none;
        background-color: var(--global-colors-white);
        font-size: var(--global-font-size-small);
    }

    table tr th {
        padding: 0.53rem 0.8125rem;
        border-color: #dfe5f0;
    }

    table tr td {
        padding: 0.65rem 0.8125rem;
        border-color: #dfe5f0;
    }
    a {
        color: var(--ifm-color-primary);
    }
}

.theme-doc-markdown {
    header {
        margin-top: 1rem;

        & + h1 {
            display: none;
        }
    }
}
