:root {
    --custom-h1-font-size: 2.25rem;
    --custom-h2-font-size: 1.625rem;
    --custom-h3-font-size: 1.25rem;
    --custom-h4-font-size: 1.125rem;
    --custom-leading: 1rem;
    --custom-heading-rhythm-bottom: 1.25;
    --custom-heading-rhythm-top: 2.5;
    --custom-tabs-rhythm-top: 1.25;
    --custom-list-rhythm-bottom: 0.625;
    --custom-h4-rhythm-bottom: 2;
    --custom-other-rhythm-margin: 1.25; // table code tip details img
    --custom-text-rhythm-bottom: 0.75;
    --custom-text-line-height: 1.625rem;
}

.markdown {
    color: #4c576c;
    padding-left: 1rem;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #1d1d1d;
        margin-bottom: 0.3125rem;
        font-weight: 500;
    }

    b,
    strong {
        font-weight: 500;
        color: #1d1d1d;
    }

    // h1,
    // h1:first-child {
    //     font-size: 2.25rem;
    // }

    h1,
    h2,
    h3 {
        font-weight: 700;
    }

    p,
    li {
        margin-bottom: calc(var(--custom-leading) * var(--custom-text-rhythm-bottom));
        font-size: 1rem;
        font-weight: 400;
        line-height: var(--custom-text-line-height);
        margin-top: 0 !important;
    }

    h1,
    h2,
    h3,
    h4 {
        margin-bottom: calc(var(--custom-leading) * var(--custom-heading-rhythm-bottom));
    }

    ol,
    ul,
    li {
        margin-bottom: calc(var(--custom-leading) * var(--custom-list-rhythm-bottom));
    }

    .theme-code-block,
    table,
    .theme-admonition-tip,
    details,
    img {
        margin-bottom: calc(var(--custom-leading) * var(--custom-other-rhythm-margin));
        margin-top: calc(var(--custom-leading) * var(--custom-other-rhythm-margin));
    }

    .theme-admonition-tip {
        padding: calc(var(--custom-leading) * 2);
    }

    h2,
    h3 {
        margin-top: calc(var(--custom-leading) * var(--custom-heading-rhythm-top));
    }

    h4 {
        margin-top: calc(var(--custom-leading) * var(--custom-h4-rhythm-bottom));
    }

    h1 {
        font-size: var(--custom-h1-font-size);
    }

    h2 {
        font-size: var(--custom-h2-font-size);
    }

    h3 {
        font-size: var(--custom-h3-font-size);
    }

    h4 {
        font-size: var(--custom-h4-font-size);
    }

    .tabs {
        margin-bottom: var(--custom-leading);
        margin-top: calc(var(--custom-leading) * var(--custom-tabs-rhythm-top));
    }

    code {
        border-radius: 4px;
        background-color: #edf2fa;
        border: none;
        padding: 3px 4px;
        font-size: 14px;
        color: #4c576c;
    }

    pre {
        code {
            padding: 0.725rem 1.25rem;
            background-color: #262a37;
            line-height: 1.875;
        }
    }

    table thead tr {
        background-color: #f7f9fe;
    }

    table thead th {
        background-color: #f7f9fe;
        color: #1d1d1d;
        font-size: 1rem;
        font-weight: 500;
    }

    table tr {
        border-bottom: none;
        background-color: var(--global-colors-white);
        font-size: var(--global-font-size-small);
    }

    table tr th {
        padding: 0.53rem 0.8125rem;
        border-color: #dfe5f0;
    }

    table tr td {
        padding: 0.65rem 0.8125rem;
        border-color: #dfe5f0;
    }
    a {
        color: var(--ifm-color-primary);
    }

    ul,
    ol {
        list-style-type: disc;
        padding-left: 1.625rem;
    }
    ul ul {
        list-style-type: circle;
    }
    ul ul ul {
        list-style-type: square;
    }
    ol ul {
        list-style-type: circle;
    }
    ol ul ul {
        list-style-type: square;
    }
}

.theme-doc-markdown {
    header {
        margin-top: 1rem;

        & + h1 {
            display: none;
        }
    }
}
