.theme-doc-sidebar-container {
    background-color: var(--global-colors-background);
    border-right: none !important;
    clip-path: none !important;
    z-index: 100;

    @media (min-width: 997px) {
        .sidebar {
            z-index: 100;
        }
    }
}

.navbar-sidebar {
    .menu__list-item {
        .menu__link--active:not(.menu__link--sublist) {
            background-color: transparent;
        }
    }
}

.theme-doc-sidebar-menu {
    padding: 0.5rem;
    
    .menu__list-item {
        .menu__link {
            font-size: var(--global-font-size-medium);
            font-weight: 500;
            color: var(--global-colors-charade);
            padding: 0.5rem 0.5rem 0.5rem var(--global-gutter);

            &--active:not(.menu__link--sublist) {
                color: var(--ifm-color-primary);
            }
        }

        >.menu__link {
            &:hover {
                color: var(--ifm-color-primary);
            }
        }
    }
    .menu__link--sublist-caret{
        color: #1F1F26 !important;
    }

    .menu__list-item-collapsible {
        /* For categories without a separate CollapseButton (no href), size the link :after icon */
        .menu__link--sublist-caret {
            &:after {
                background-size: 1.5rem;

                @media screen and (max-width: 996px) {
                    position: static;
                    margin-top: 0;
                }
            }
        }

        /* For categories with href + items, use the same chevron icon on the CollapseButton */
        .menu__caret {
            &::before {
                content: '';
                background: url('@site/static/images/chevron-down.svg') no-repeat center;
                background-size: 1.0rem;
            }

            &:hover {
                background-color: transparent;
            }
        }

        &--active {
            background-color: transparent;
        }

        &:hover {
            background-color: transparent;
        }
    }

    .menu__list {
        .menu__link {
            font-size: var(--global-font-size-small);
            color: var(--global-colors-text);

            &:hover {
                color: var(--ifm-color-primary);

                &:not(.menu__link--active) {
                    background-color: transparent;
                }
            }
        }


        .theme-doc-sidebar-item-link {
            .menu__link--active {
                color: var(--ifm-color-primary);
            }
        }

    }
}
