.swipe-top-button {
    text-decoration: none;
    /* letter-spacing: 2px; */
    text-align: center;
    position: relative;
    transition: all .35s;
    overflow: hidden;
}

.swipe-top-button span {
    position: relative;
    z-index: 2;
}

.swipe-top-button:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--ifm-color-primary);
    transition: all .35s;
}

.swipe-top-button:hover {
    color: #fff;
}

.swipe-top-button:hover:after {
    height: 100%;
}