.archive-container {
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
    .archive-admonition {
        padding: 2rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        background-color: rgb(255, 248, 230);
        border-radius: 6px;
        border: 0 solid rgb(230, 167, 0);
        border-left-width: 5px;
    }
    h1 {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 45px;
        margin-top: 2.875rem;
    }
    h2 {
        padding-top: 1.25rem;
        margin-top: 2.875rem;
        margin-bottom: 1.25rem;
        font-size: 1.625rem;
        font-weight: 700;
        line-height: 32px;
    }
}

@media (min-width: 1280px) {
    .archive-container {
        max-width: 1280px;
        .archive-admonition {
            max-width: 75%;
        }
    }
}
