.theme-doc-sidebar-menu.menu__list {
    .theme-doc-sidebar-item-category-level-1 {
        padding-bottom: 1.375rem;
        padding-top: 1.375rem;
        border-bottom: 1px solid #edf2fa;
        margin-top: 0;
        .menu__link.menu__link--sublist-caret.menu__link_level_1 {
            &:after {
                display: none;
            }
            color: #8592a6;
            font-weight: 500;
            font-size: 12px;
        }
    }
    .menu__link_level_2.menu__link {
        color: #1d1d1d !important;
    }
    .theme-doc-sidebar-item-link-level-2 {
        .menu__link {
            color: #1d1d1d !important;
        }
    }
    .menu__link.menu__link--active:not(.menu__link--sublist) {
        color: #444fd9 !important;
        font-weight: 500;
        background-color: rgba(237, 238, 250, 0.6);
    }
    .menu__list-item {
        a.menu__link {
            line-height: 2rem;
            padding: 0 0.625rem;
            color: #4c576c;
            font-size: 14px;
            font-weight: 400;
            &:hover {
                background-color: rgba(237, 242, 250, 0.5) !important;
            }
            &:after {
                right: 0;
                background: url('../../../../static/images/chevron-down.svg') no-repeat center;
            }
        }
    }
    #menu__group:hover {
        background-color: white !important;
    }
    .menu__list .menu__list {
        margin-left: 0.625rem;
        border-left: 1px solid #dfe5f0;
    }
    .menu__list_level_2 {
        padding-left: 0;
    }
}
.menu__list-item .menu__link--sublist:after,
.menu__list-item .menu__caret:before {
    transform: rotateZ(0);
}
.menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:before {
    transform: rotateZ(-90deg);
}
