.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 1rem);
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}

.bgCustomGradient {
  /* background: radial-gradient(181.14% 96.64% at 101.72% 103.13%, rgba(211, 97, 230, 0.5) 0%, rgba(16, 190, 235, 0.17) 39.41%, rgba(255, 255, 255, 0) 100%) */
}