.page-header {
    padding: 48px 0;
    .title {
        color: var(--n-1, #1D1D1D);
        text-align: center;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.88px;
        text-transform: capitalize;
    }
}
