/*
Hide color mode toggle in small viewports
 */
@media (max-width: 996px) {
  .colorModeToggle {
    display: none;
  }
  
}

.navbarLeftToc {
  display:flex;
  align-items: center;
  padding:0 10px;
  /* overflow-x-auto text-nowrap */
}
.navbarLeftToc::-webkit-scrollbar {
  display: none;
}
