.achievement-banner-wrapper {
    display: flex;
    margin-bottom: 5rem;

    .achievement-banner-item {
        width: 300px;
        text-align: center;
        color: var(--global-colors-text-secondary);
        font-size: 1.25rem;
        line-height: 1.6;

        div~div {
            margin-top: 0.25rem;
        }

        .highlight {
            color: #1D1D1D;
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 140%;
            font-family: 'Montserrat';
        }
    }
}

@media (min-width:1536px) {
    .achievement-banner-wrapper {
        margin-bottom: 60px;
        margin-top: 20px;
    }
}