.custom-navbar-item.dropdown {
    & > .navbar__link {
        display: flex;
        align-items: center;
        color: #4c576c;
        padding-left: 0rem;
        padding-right: 0rem;
        margin-left: 0.8rem;
        font-weight: normal;
        .icon-language {
            display: inline-block;
        }
        &:after {
            background: url('/static/images/chevron-down.svg') no-repeat center;
            border: none;
            width: 1rem;
            height: 1rem;
            transform: none;
        }
    }
}
