body, td, th {
    font-size: 95%;
    font-family: Arial, Geneva, Helvetica, sans-serif;
    color: black;
    background-color: white;
}

#query {
    width: 160px;
}

li {
    color: #000000 !important;
}

menu {
    margin-left: 1em;
    padding-left: 1em;
    white-space: nowrap;
}

.menuheader {
    font-weight: bold;
}

.navleft {
    padding-right: 5px;
    border: 1px solid #cccccc;
    border-width: 0px 1px 0px 0px;
}

.navright {
    padding-left: 5px;
    border: 1px solid #cccccc;
    border-width: 0px 0px 0px 1px;
}

.section-content {
    padding-left: 1em;
    padding-right: 1em;
}

a:visited {color: #00438a;}

.footer {
    text-align: center;
    font-size: 80%;
}

.note {
    margin: 1em;
    padding: 0em 1em 0em 1em;
    border: 2px solid #000090;
    background-color: #F3F3FF;
}

.source {
    margin: 0em 1em 0em 1em;
    padding: 0em 1em 0em 1em;
    border: 2px solid #bbbbbb;
    white-space: pre;
}

#clutch th {
  background-color: #cccccc;
}
#clutch td {
  padding: 0.2em;
}
#clutch td.grad {
  border: 2px solid #d55e00;
}
#clutch td.number {
  text-align: right;
}
#clutch td.issue {
  background-color: #d55e00;
}
#clutch td.care {
  background-color: #e69f00;
}
#clutch td.cool1 {
  background-color: #009e73;
}
#clutch td.cool2 {
  background-color: #f0e442;
}
#clutch td.cool3 {
  background-color: #e69f00;
}
#clutch td.cool4 {
  background-color: #d55e00;
}
span.issue {
  background-color: #d55e00;
  color: black;
  padding: 0em 0.1em 0em 0.1em;
}
span.grad {
  border: 2px solid #d55e00;
  padding: 0em 0.1em 0em 0.1em;
}
span.care {
  background-color: #e69f00;
  color: black;
  padding: 0em 0.1em 0em 0.1em;
}
span.cool1 {
  background-color: #009e73;
  color: black;
  padding: 0em 0.1em 0em 0.1em;
}
span.cool2 {
  background-color: #f0e442;
  color: black;
  padding: 0em 0.1em 0em 0.1em;
}
span.cool3 {
  background-color: #e69f00;
  color: black;
  padding: 0em 0.1em 0em 0.1em;
}
span.cool4 {
  background-color: #d55e00;
  color: black;
  padding: 0em 0.1em 0em 0.1em;
}
#clutch a:link {
  color: blue;
}
#clutch a:visited {
  color: purple;
}
#clutch-bottom-spacer {
  padding-bottom: 100em;
}
p.attribution {
	text-align:right;
	font-style:oblique
}

/* INCUBATOR-117 - note, this will 'hide' any href links in headers */
h2 a, h3 a, h4 a, h5 a {
 text-decoration: none;
 color: black;
}

span.graduated {
    background-color: lawngreen;
}

span.retired {
    background-color: orange;
}