<IfModule mod_headers.c>
    Header set Content-Security-Policy "script-src 'self' https://cdnd.selectdb.com widget.kapa.ai www.google.com https://hcaptcha.com https://*.hcaptcha.com https://www.gstatic.com 'unsafe-inline' 'unsafe-eval'; connect-src 'self' proxy.kapa.ai kapa-widget-proxy-la7dkmplpq-uc.a.run.app metrics.kapa.ai https://hcaptcha.com https://*.hcaptcha.com www.google.com; frame-src 'self' www.google.com https://hcaptcha.com https://*.hcaptcha.com; worker-src 'self' https://cdnd.selectdb.com blob:; style-src 'self' https://cdnd.selectdb.com 'unsafe-inline' https://hcaptcha.com https://*.hcaptcha.com; font-src 'self' https://cdnd.selectdb.com data:;"
</IfModule>
