.content {
  font-size: 85%;
  text-align: center;
  padding: 5px 0;
}

.content a {
  color: inherit;
  text-decoration: underline;
}

.content a:active {
  background-color: linear-gradient(90deg, #1FCD94 0%, #11A679 100%), #FFF;
}

.content p:hover {
  text-decoration: underline;
}