.footer {
    background-color: #162033;

    &-box {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 996px) {
            flex-direction: column;
        }

        .footer__title {
            color: var(--global-colors-white);
            font-size: var(--global-font-size-medium);
            margin-bottom: 1.5rem;
            font-weight: 500;
        }

        .footer__link-item {
            color: var(--global-colors-white);
            font-size: var(--global-font-size-small);
            transition: all 0.3s;
            white-space: nowrap;

            svg {
                display: none;
            }

            &:hover {
                color: var(--ifm-color-primary);
            }
        }

        .footer__col {
            & + .footer__col {
                margin-left: 2rem;
            }
        }

        .left {
            display: flex;

            @media screen and (max-width: 996px) {
                flex-direction: column;
                align-items: center;
            }

            .footer__logo {
                width: 8.5625rem;
                height: 3.5rem;
            }

            .footer__links {
                margin-left: 3.125rem;
                margin-bottom: 0;

                .navbar__link {
                    padding: 0;

                    @media screen and (max-width: 996px) {
                        display: block;
                    }
                }

                @media screen and (max-width: 996px) {
                    margin-left: 0;
                    display: flex;
                    width: 100%;
                    margin-top: 2rem;

                    .footer__col {
                        flex: 1;

                        & + .footer__col {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .right {
            @media screen and (max-width: 996px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .footer__title {
                    display: none;
                }
            }

            .social-list {
                @media screen and (max-width: 996px) {
                    display: flex;
                }

                .social {
                    display: flex;
                    flex-wrap: wrap;
                    margin: -1.25rem;

                    @media screen and (max-width: 996px) {
                        margin: 0;
                    }

                    .item {
                        display: block;
                        width: 2rem;
                        height: 2rem;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        margin: 1.25rem;
                        color: var(--global-colors-white);
                        position: relative;

                        &.wechat {
                            &:hover {
                                cursor: pointer;
                                .wechat-dropdown {
                                    display: flex;
                                }
                                &::after {
                                    content: '';
                                    opacity: 1;
                                    position: relative;
                                    display: block;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 156px;
                                    height: 180px;
                                    background: url('/static/images/wechat-qrc.png') no-repeat center;
                                    background-size: cover;
                                    z-index: 1;
                                    @media screen and (max-width: 996px) {
                                        width: 78px;
                                        height: 90px;
                                    }
                                }
                            }
                        }

                        svg:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }

    .footer__copyright {
        width: 65%;
        margin: 0 auto;
        margin-top: 4.375rem;
        line-height: 1.8;
        text-align: center;
        color: var(--global-colors-white);
        opacity: 0.6;
        font-size: var(--global-font-size-smaller);

        a {
            color: var(--global-colors-white);
        }

        @media screen and (max-width: 996px) {
            width: auto;
            margin: 1rem 1rem 0;
        }
    }
}
