.form-select {
    .ant-select:not(.ant-select-customize-input) {
        &.ant-select-focused {
            .ant-select-selector {
                box-shadow: none !important;
                border-color: var(--ifm-color-primary) !important;
            }
        }
        &:hover {
            .ant-select-selector {
                border-color: var(--ifm-color-primary) !important;
            }
        }
        .ant-select-selector {
            border-color: #dfe5f0;
        }
        .ant-select-arrow {
            color: #4c576c;
            font-size: 16px;
        }
    }
}
.form-select-select {
    padding: 0.375rem 0;
    border: 0.5px solid #dfe5f0;
    box-shadow: 0px 2px 8px 0px rgba(49, 77, 136, 0.16);
    &.ant-select-dropdown {
        .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
            color: var(--ifm-color-primary);
            font-weight: 400;
            background-color: transparent;
            &:hover {
                background-color: #F7FAFC;
            }
        }
        .ant-select-item {
            border-radius: 0;
        }
    }
}

.form-cascader {
    border: 0.5px solid #dfe5f0;
    box-shadow: 0px 2px 8px 0px rgba(49, 77, 136, 0.16);
    .ant-cascader-menus {
        .ant-cascader-menu {
            padding: 6px 0;
            @media (min-width: 640px) {
                &:first-child {
                    min-width: 180px;
                }
                &:last-child {
                    min-width: 192px;
                }
            }

            li.ant-cascader-menu-item-active {
                color: var(--ifm-color-primary);
                font-weight: 400;
                background-color: transparent;
                &:hover {
                    background-color: #F7FAFC;
                }
                .ant-cascader-menu-item-expand-icon {
                    color: var(--ifm-color-primary);
                }
            }
        }
        li.ant-cascader-menu-item {
            .ant-cascader-menu-item-content {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            &:hover {
                color: #1d1d1d;
                background-color: #F7FAFC;
                border-radius: 0;
            }
        }
    }
}
