html[lang='zh-Hans-CN'] {
    --ifm-font-family-base: 'MiSans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'MiSans', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html[lang='en-US'] {
    --ifm-font-family-base: 'MiSans Latin', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: 'MiSans Latin', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

:root {
    --ifm-color-primary: #444fd9;
    --ifm-color-primary-dark: #2c39d4;
    --ifm-color-primary-darker: #2935c9;
    --ifm-color-primary-darkest: #222ba6;
    --ifm-color-primary-light: #5c65de;
    --ifm-color-primary-lighter: #6870e0;
    --ifm-color-primary-lightest: #8b92e7;

    --ifm-blockquote-color: #63646d;

    --global-gutter: 1.5625rem;

    --global-colors-text-black: #162033;
    --global-colors-text-primary: #232d3e;
    --global-colors-text: #63646d;
    --global-colors-text-secondary: #4c576c;
    // --global-colors-background: #F5F7FA;
    --global-colors-split: #dadde1;
    --global-colors-white: #ffffff;

    --search-local-modal-background: var(--global-colors-white);
    --search-local-modal-shadow: 0px 0px 30px rgba(201, 217, 233, 0.5);
    --search-local-hit-shadow: none;
    --search-local-hit-height: 4rem;

    --global-shadow-primary: rgba(0, 0, 0, 0.1);

    --global-font-size-huge: 4rem;
    --global-font-size-bigger: 3.5rem;
    --global-font-size-big: 3rem;
    --global-font-size-larger: 2rem;
    --global-font-size-large: 1.5rem;
    --global-font-size-default: 1.125rem;
    --global-font-size-medium: 1rem;
    --global-font-size-small: 0.875rem;
    --global-font-size-smaller: 0.75rem;

    --global-mobile-nav-button-size: 2.5rem;

    --global-border-radius: 6px;

    --global-header-height: 5rem;
    --global-sidebar-width: 20rem;
    --doc-sidebar-width: 20rem !important;

}
