.docs-wrapper {
    .versions {
        opacity: 1;
    }
}

.plugin-id-community {
    .versions {
        opacity: 0;
    }

    .doc-search {
        display: none;
    }
}
.markdown code {
    background-color: #f6f7f8;
}

.markdown pre code {
    background-color: #282A36;
}

@media (max-width: 996px) {
    .theme-doc-toc-mobile {
        display: none;
    }

    .docs-wrapper {
        .versions {
            opacity: 0;
        }
    }
}

@media (max-width: 576px) {
    :root {
        --ifm-font-size-base: 16px;
    }
}