/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import './variables';
@import './components/sidebar';
@import './components/breadcrumbs';
@import './components/markdown';
@import './components/pagination-nav';
@import './components/navbar';
@import './components/blog';
@import './components/search';
@import './common';