.events-banner-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
    .banner-title {
        font-weight: 600;
        line-height: 2.5rem;
        font-size: 2.75rem;
        color: #1d1d1d;
        text-align: center;
    }
    .banner-desc {
        font-size: 1.25rem;
        line-height: 2rem;
        color: #000;
        text-align: center;
    }

    .button {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        font-size: 1rem;
        border: none;
        transition: all 0.3s;
        justify-content: center;
        border: 1px solid transparent;
        width: 100%;
        font-weight: 400;
        margin: auto;
        &:hover {
            // box-shadow: 10px 16px 18px rgba(195, 203, 235, 0.2);
        }

        & + .button {
            margin-left: 2rem;
        }

        &.primary {
            background-color: var(--ifm-color-primary);
            color: var(--global-colors-white);

            &:hover {
                box-shadow: 0px 6px 12px rgba(161, 167, 210, 0.45);
            }
        }

        &.default {
            background-color: #f0f1fc;
            color: var(--ifm-color-primary);

            &:hover {
                box-shadow: 0px 6px 12px rgba(161, 167, 210, 0.3);
            }
        }

        &.ghost {
            border: 1px solid var(--ifm-color-primary);
            color: var(--ifm-color-primary);
            background-color: #ffffff;

            &:hover {
                box-shadow: 0px 6px 12px rgba(161, 167, 210, 0.3);
            }
        }
    }

    @media (min-width:640px){
        .button {
            width: 25.625rem;
            padding: 1rem 2rem;
        }
    }
}
