name: Manual Deploy

on: 
  workflow_dispatch:
    inputs:
      branch:
        description: 'Specify the branch name'
        required: true
        default: 'master'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.16.1

    - name: Build
      run: |
        git clone https://github.com/apache/doris.git doris
        export BRANCH=${{ github.event.inputs.branch }}
        cp -R blogs/zh-CN/ doris/docs/zh-CN/blogs/
        cp -R blogs/en/ doris/docs/en/blogs/
        cp -R blogs/images/blogs/ doris/docs/.vuepress/public/images/
        cp -R 0.15/zh-CN/ doris/docs/zh-CN/0.15/
        cp -R 0.15/en/ doris/docs/en/0.15/
        cp -R 1.0/zh-CN/ doris/docs/zh-CN/1.0/
        cp -R 1.0/en/ doris/docs/en/1.0/
        cp -R versions.json doris/docs/.vuepress/public/
        cp -R sidebar/zh-CN/* doris/docs/.vuepress/sidebar/zh-CN/
        cp -R sidebar/en/* doris/docs/.vuepress/sidebar/en/
        cd doris/
        git fetch
        cd docs/
        find ./ -name "*.md" -exec sed -i -e 's/!\[\(.*\)\][(]\(.*\)[)]/<img \:src=\"$withBase\('\''\2'\''\)\" alt=\"\1\">/g' {} \;
        sed -i 's/en\///g' .vuepress/config.js
        sed -i 's/en\///g' .vuepress/theme/index.js
        sed -i "s/BUILDING_BRANCH\.length > 0/BUILDING_BRANCH\.length > 0 \&\& BUILDING_BRANCH !== 'master'/g" .vuepress/config.js
        sed -i 's/en\///g' en/README.md
        mv en/* ./
        mv .vuepress/sidebar/en/* .vuepress/sidebar/
        npm install -g increase-memory-limit
        increase-memory-limit
        export NODE_OPTIONS="--max-old-space-size=9144" && npm install && npm run build
        touch .vuepress/dist/.dummy
        ls .vuepress/dist/
        export DORIS_COMMIT=`git rev-parse HEAD`

    - name: Deploy Master
      if: ${{ github.event.inputs.branch == 'master' }}
      run: |
        git fetch
        git checkout -b asf-site remotes/origin/asf-site
        /bin/bash remove-non-reserved-dir.sh
        cp -r doris/docs/.vuepress/dist/* ./
        rm -rf doris/
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Automated deployment with doris master"
        git push --verbose "https://${{ secrets.GITHUB_TOKEN }}@github.com/apache/doris-website.git" asf-site:asf-site

    - name: Deploy Branch
      if: ${{ github.event.inputs.branch != 'master' }}
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: asf-site
        publish_dir: ./doris/docs/.vuepress/dist
        destination_dir: ${{ github.event.inputs.branch }}
        user_name: 'github-actions[bot]'
        user_email: 'github-actions[bot]@users.noreply.github.com'
        commit_message: 'Automated deployment with doris branch ${{ github.event.inputs.branch }}@${{ env.DORIS_COMMIT }}'
